<h1>{{name}}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd>{{ getheroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>
</dl>

<button class="btn btn-primary mx-2" (click)="changeHero()" *ngIf="name!='Green Lanter'"> Cambiar nombre</button>

<button class="btn btn-primary" (click)="changeAge()" *ngIf="age!=36"> Cambiar edad</button>

<button class="btn btn-primary  mx-2" (click)="resetFrom()"> Reset </button>
